:root {
  /* Colors */
  --c-dGreen: #1b201f;
  --c-mGreen: #077558;
  --c-lGreen: #00ba89;
  --c-gold: #cbb28b;
  --c-grey: #3b5249;

  /* Font sizes */
  --fz-sm: 14px;
  --fz-normal: 16px;

  /* Font families */
  --ff-regular: "Montserrat", sans-serif;
  --ff-special: "Comfortaa", cursive;

  /* Margins */
  --m-sm: 1.5rem;
  --m-md: 3rem;
  --m-bg: 5rem;
}
